<!-- templates/etc/footer.html -->
<div th:fragment="footer">
    <footer class="site-footer">
        <div class="footer-content">
            <div class="footer-links">
                <a href="/terms">이용약관</a>
                <a href="/privacy">개인정보처리방침</a>
                <a href="/help">고객센터</a>
                <a th:href="@{/}">신고센터</a>
            </div>

			<div class="footer-text">
			    ©<span class="year" th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2025</span>god-daddy.com. All rights reserved.
			</div>


            <div class="footer-company">
                사업자등록번호: 123-45-67890 | 대표: 장유진 | 이메일: service@god-daddy.com
            </div>
        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>