<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/common/header.css}" />
<link rel="stylesheet" th:href="@{/css/common/footer.css}" />
<link rel="stylesheet" th:href="@{/css/chat/chat.css}" />
<link rel="stylesheet" th:href="@{/css/index.css}" />
<link rel="stylesheet" th:href="@{/css/job/playerPanel.css}" />
<link rel="stylesheet" th:href="@{/css/game/phoneModal.css}"/>
<title>GOD Father 0805 마피아 게임룸</title>
</head>

<body>
	<div th:replace="~{common/header :: header}"></div>
	<div class="home-wrapper">
		<div class="sideAD"></div>
		<div th:replace="~{chat/gameMainChat :: gameMainChat}"></div>
		<div class="player-panel-container" style="position: relative;">
			<div id="controlPanel">
		    	<div th:replace="~{game/job/playerPanel :: playerPanelFragment}"></div>
		    	<div class="readyDiv" style="display:flex; align-items: center;">
				    <button class="startBtn" id="startBtn"
				            onclick="startGame()">Start</button>
				    <button class="readyBtn" id="readyBtn"
				            onclick="ready()">Ready</button>
				    <div id="readyCount">Ready: 0</div>
				</div>
		    </div>
		    <div th:replace="game/phoneModal :: phoneModal" 
		         id="phoneModal" 
		         style="display:none; position:absolute; top:100%; left:0; "></div>  
		    <button id="togglePhoneModalBtn" type="button" style="margin-top:10px;">휴대폰 열기</button>
		</div>

	</div>
	<div th:replace="~{common/footer :: footer}"></div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:inline="javascript">
		//게임 실행여부
		var isGaming = false;
	    let isReady = false;
	    let readyCount = 0;
	
		// 닉네임 초기화
		let nickName = /*[[${loginUser.nickName}]]*/ '익명';
		let userName = /*[[${loginUser.userName}]]*/ '';
		const roomNo = /*[[${roomNo}]]*/ 0;
		const input = document.querySelector("#chat");
		var job = 'citizen';
		var isNight = false;

		//블록검색용
		let currentPage = 1; // 현재 몇 번째 블록을 보고 있는지
		const pageSize = 30; // 한 블록에 몇 개의 메시지를 가져올지
		let isLoading = false;
		let isLastPage = false;
		let isFirstLoad = true;
		
		const sendBtn = document.getElementById('sendBtn');
		const chatInput = document.getElementById('chat');
		const readyDiv = document.getElementById('readyDiv');//게임 시작 혹은 레디 버튼
		
		let room = /*[[${room}]]*/ 'NULL';
		isGaming = room.isGaming==='Y';
		
		if (isGaming) {
			document.getElementById('readyDiv').style.display = 'none';
		}

		if (isNight && job!=='mafia') {
			sendBtn.disabled = true;
			sendBtn.classList.add('disabled-btn');

			chatInput.disabled = true;
			chatInput.placeholder = "밤에는 채팅할 수 없습니다.";
		}
		
		let socket = new WebSocket("ws://localhost/chat/gameMainChat?roomNo=" + roomNo);

		socket.onopen = function () {
			console.log("WebSocket 연결됨");
			
			const messageObj = {
					type: "enter",
					userName: nickName,
					msg: nickName+"님이 입장하셨습니다.",
					roomNo: roomNo
				};
			if (socket.readyState === WebSocket.OPEN) {
				socket.send(JSON.stringify(messageObj));
			} else {
				alert("서버 연결이 끊어졌습니다.");
			}
			loadUser(room);
		};

		socket.onerror = function (err) {
			console.error("WebSocket 오류", err);
		};

		socket.onclose = function () {
			console.warn("WebSocket 연결 종료");
		};

		input.addEventListener("keydown", function (e) {
			if (e.key === "Enter") {
				send();
			}
		});

		const messages = /*[[${messages}]]*/[];
		const chatArea = document.querySelector("#chatArea");
		chatLoad();
		
		function chatLoad() {
		    if (isLoading || isLastPage) return;
		    isLoading = true;

		    $.ajax({
		        url: '/room/loadMessage',
		        type: 'GET',
		        data: {
		            roomNo: roomNo,
		            page: currentPage,
		            size: pageSize
		        },
		        success: function (messages) {
		            if (messages.length === 0) {
		                isLastPage = true;  // 더 이상 불러올 메시지 없음
		                return;
		            }
		            currentPage++;

		            // 불러오기 전 스크롤 위치 저장 (스크롤 아래로부터 거리)
		            const scrollBefore = chatArea.scrollHeight - chatArea.scrollTop;

		            messages.forEach(msgData => {
		                const div = document.createElement("div");

		                if (msgData.type === "death") {
		                    if (job !== "ghost" && job !== "mafiaGhost" && job !== "spiritualists") {
		                        return;
		                    } else {
		                        const typeDiv = document.createElement("div");
		                        typeDiv.classList.add("type-Text");
		                        typeDiv.textContent = "『사망자』";
		                        div.appendChild(typeDiv);
		                    }
		                } else if (msgData.type === "mafia") {
		                    if (job !== "mafia") {
		                        return;
		                    } else {
		                        const typeDiv = document.createElement("div");
		                        typeDiv.classList.add("type-Text");
		                        typeDiv.textContent = "『마피아』";
		                        div.appendChild(typeDiv);
		                    }
		                }

		                reciveMsg(msgData, div);

		                // 메시지를 기존 채팅창 맨 위에 삽입
		                chatArea.insertBefore(div, chatArea.firstChild);
		            });

		            // 이미지가 있으면 모두 로드될 때까지 대기 후 스크롤 위치 보정
		            if(isFirstLoad){
		            	isFirstLoad=false;
		            	scrollToBottomAfterImagesLoad(chatArea);
		            }

		            // 불러오기 후 스크롤 위치 보정: 추가된 메시지 높이만큼 스크롤 내리기
		            const scrollAfter = chatArea.scrollHeight;
		            chatArea.scrollTop = scrollAfter - scrollBefore;
		        },
		        complete: function () {
		            isLoading = false;
		        }
		    });
		}

		chatArea.addEventListener("scroll", function () {
			if (chatArea.scrollTop === 0 && !isLastPage && !isLoading) {
		        chatLoad();
		    }
		});
	

		
		//채팅 도착
		socket.onmessage = function (message) {
			const wasAtBottom = isScrolledToBottom(chatArea);
			const msgData = JSON.parse(message.data);
			const div = document.createElement("div");
			
			if (msgData.type === "death") {
				if(job !== "ghost" && job!=="mafiaGhost" && job !=="spiritualists") {
					return;
				} else {
					const typeDiv = document.createElement("div");
					typeDiv.classList.add("type-Text");
					typeDiv.textContent = "『사망자』";
					div.appendChild(typeDiv);
				}
			} else if (msgData.type === "mafia"){
				if(job !== "mafia") {
					return;
				} else {
					const typeDiv = document.createElement("div");
					typeDiv.classList.add("type-Text");
					typeDiv.textContent = "『마피아』";
					div.appendChild(typeDiv);
				}
			} else if (msgData.type === "ready" || msgData.type === "unReady") {
				setReadyCount();
			} else if (msgData.type === "start") {
				setStart();
			}  else if (msgData.type === "enter" || "leave") {
				roomReload();
			}
			
			reciveMsg(msgData, div);
			
			scrollIfNeeded(wasAtBottom);
		};

		//이벤트 발생
		function sendEvent(eventNo) {

			$.ajax({
				url: '/chat/selectEvent',
				type: 'GET',
				data: {
					eventNo: eventNo,
					userName: nickName //원래 여기에 마피아가 선택하거나 능력 사용하여 선택한 닉네임이 들어가야 하지만 임시 처리
				},
				success: function (msg) {
					if (msg === "") return;

					const messageObj = {
						type: "event",
						userName: '시스템',
						msg: msg,
						roomNo: roomNo
					};

					if (socket.readyState === WebSocket.OPEN) {
						socket.send(JSON.stringify(messageObj));
						msgInput.value = "";
					} else {
						alert("이벤트를 불러오지 못했습니다.");
					}
				},
				error: function () {
					alert("이벤트를 불러오지 못했습니다.");
				}
			});
		}
		
		function insertMsg(msgData, div) {
			const senderDiv = document.createElement("div");
			senderDiv.classList.add("chat-sender");
			senderDiv.textContent = msgData.userName;
			div.appendChild(senderDiv);

			const contentDiv = document.createElement("div");
			contentDiv.textContent = msgData.msg;
			div.appendChild(contentDiv);
		}

		function ready() {
				isReady = !isReady;
					
				var type = isReady ? "ready" : "unReady";
				var msg = isReady ? nickName + "님이 준비를 했습니다." : nickName + "님이 준비를 해제했습니다.";
				
				const messageObj = {
					type: type,
					userName: nickName,
					msg: msg,
					roomNo: roomNo
				};
				
				if (socket.readyState === WebSocket.OPEN) {
					socket.send(JSON.stringify(messageObj));
				} else {
					alert("서버 연결이 끊어졌습니다.");
				}
		}
		
		function startGame() {
			if(readyCount === (document.querySelectorAll(".slot").length-1)){
				const messageObj = {
					type: "start",
					userName: "시스템",
					msg: "게임이 시작되었습니다.",
					roomNo: roomNo
				};
				
				if (socket.readyState === WebSocket.OPEN) {
					socket.send(JSON.stringify(messageObj));
				} else {
					alert("서버 연결이 끊어졌습니다.");
				}
			} else {
				alert("모든 플레이어가 준비되지 않았습니다.");
			}
		}
		
		document.addEventListener("DOMContentLoaded", function() {
		    const phoneModal = document.getElementById("phoneModal");
		    const toggleBtn = document.getElementById("togglePhoneModalBtn");
		    const closeBtn = phoneModal.querySelector("#closePhoneModalBtn");
		    const controlPanel = document.getElementById("controlPanel");
		    const startBtn = document.getElementById("startBtn");
		    const readyBtn = document.getElementById("readyBtn");
		    console.log(room);
		    console.log("게임룸"+userName);
		    if(room.master === userName || room.master === null) {
		    	console.log("게임룸"+room.master);
		    	startBtn.style.display = "block";
		    	readyBtn.style.display = "none";
		    }

		    toggleBtn.addEventListener("click", () => {
		    	 console.log(controlPanel);
		        if(phoneModal.style.display === "none" || phoneModal.style.display === "") {
		            phoneModal.style.display = "block";
		            togglePhoneModalBtn.style.display = "none";
		            controlPanel.style.display = "none";
		        } else {
		            phoneModal.style.display = "none";
		            togglePhoneModalBtn.style.display = "block";
		            controlPanel.style.display = "block";
		        }
		    });

		    closeBtn.addEventListener("click", () => {
		        phoneModal.style.display = "none";
		        togglePhoneModalBtn.style.display = "block";
		        controlPanel.style.display = "block";
		    });
		});

		function setReadyCount() {
			$.ajax({
				url:'/room/readyCount',
				type:'GET',
				data:{roomNo:roomNo},
				success: function(length){
					readyCount = length;
		            document.getElementById("readyCount").innerText = "Ready: " + length+"/"+(document.querySelectorAll(".slot").length-1);
				},
				error: function () {
					alert("준비중인 유저수를 불러오지 못했습니다.");
				}
			});
		}
		
		function setStart() {
			isStart = true;
			readyDiv.style.display = "none";
			$.ajax({
				url:'/room/getJobName',
				data:{
					userName:userName,
						
				}
			})
			
		}
		
		function roomReload(){
			$.ajax({
				url:'/room/reloadRoom',
				data:{roomNo:roomNo},
				success: function(newRoom){
					loadUser(newRoom);
				}
				
			})
		}
	</script>
</body>

</html>