<div id="phoneModal" class="phone-modal" th:fragment="phoneModal">
    <div class="phone-notch"></div>
    <div class="phone-screen">
        <div class="phone-header">
            <span>휴대폰</span>
            <button type="button" id="hackBtn">해킹하기</button>
            <button type="button" id="closePhoneModalBtn">×</button>
        </div>
        <div id="hintListContainer" class="phone-content" style="overflow-y:auto;">
		    <!-- JavaScript로 동적 생성됩니다. -->
		</div>
    </div>
    <div class="phone-home-button"></div>
</div>