<div id="phoneModal" class="phone-modal" th:fragment="phoneModal">
    <div class="phone-notch"></div>

    <div class="phone-screen">
        <div class="phone-header">
            <span>휴대폰</span>
            <button type="button" id="closePhoneModalBtn">&times;</button>
        </div>
        <div class="phone-content">
	        <th:block th:if="${nickName != null and #lists.size(nickName) > 0}">
                <div th:each="name : ${nickName}" class="slot">
                    <div class="panels"></div>
                    <input type="text" class="player-name" th:value="${name}" readonly>
                </div>
			</th:block>
        </div>
    </div>

    <div class="phone-home-button"></div>
</div>
