<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "Http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="artshopMapper">

    <!-- 일러스트 등록 -->
    <insert id="insertArtwork" parameterType="Shop">
    INSERT INTO USER_ARTWORK (
        ARTID,
        TITLE,
        DESCRIPTION,
        IMAGEPATH,
        SELLERNAME,
        PRICE,
        STATUS,
        UPLOADDATE
    ) VALUES (
        SEQ_ART_ID.NEXTVAL,
        #{title},
        #{description},
        #{imagePath},
        #{sellerName},
        #{price},
        #{status},
        SYSDATE
    )
</insert>

    <!-- 일러스트 전체 조회 -->
    <select id="selectAllArtworks" resultType="Shop">
        SELECT * 
        FROM USER_ARTWORK
        ORDER BY ARTID DESC
    </select>
    
    <!-- 상세 페이지 조회용  -->
    <select id="selectArtworkById" resultType="Shop" parameterType="int">
    SELECT * 
    FROM USER_ARTWORK
    WHERE ARTID = #{artId}
	</select>

</mapper>
