<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatMapper">

    <select id="selectRoomById" parameterType="int" resultType="GameRoom">
        SELECT * FROM GAME_ROOM WHERE ROOMNO = #{roomNo}
    </select>

    <insert id="insertMessage" parameterType="Message">
        INSERT INTO MESSAGE (ROOMNO, MSGNO, TYPE, MSG, USERNAME, CHATDATE)
        VALUES (#{roomNo}, #{msgNo}, #{type}, #{msg}, #{userName}, #{chatDate})
    </insert>

    <select id="selectMessagesByRoom" parameterType="int" resultType="Message">
        SELECT * FROM MESSAGE WHERE ROOMNO = #{roomNo} ORDER BY CHATDATE ASC
    </select>
    
    <select id="selectEvent" resultType="String" parameterType="map">
        SELECT
            '{' ||
            '"eventNo": ' || EVENT_NO || ',' ||
            '"content": "' || REPLACE(CONTENT, '!!!!', #{userName}) || '",' ||
            '"imageUrl": "' || IMAGE_URL || '"' ||
            '}' AS JSON_RESULT
        FROM GAME_EVENT
        WHERE EVENT_NO = #{eventNo}
    </select>

</mapper>