<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "Http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gameRoomMapper">

	<insert id="insertRoom" parameterType="GameRoom">
	    <selectKey keyProperty="roomNo" resultType="int" order="BEFORE">
	        SELECT SEQ_RNO.NEXTVAL FROM DUAL
	    </selectKey>
	
	    INSERT INTO GAME_ROOM (
	        ROOMNO,
	        ROOMNAME,
	        USERLIST,
	        HEADCOUNT,
	        PASSWORD,
	        TYPE,
	        COUNT
	    ) VALUES (
	        #{roomNo},
	        #{roomName},
	        #{userList},
	        #{headCount},
	        #{password},
	        #{type},
	        #{count}
	    )
	</insert>
    
	<delete id="deleteRoom" parameterType="_int">
	    DELETE FROM GAME_ROOM
	    WHERE ROOMNO = #{roomNo}
	</delete>
	
	<update id="updateUserList">
	    UPDATE GAME_ROOM
	    SET USERLIST = #{userList}
	    WHERE ROOMNO = #{roomNo}
	</update>
	
	<update id="updateRoomMaster">
		UPDATE GAME_ROOM
	    SET MASTER = #{userName}
	    WHERE ROOMNO = #{roomNo}
	</update>
	
	<select id="selectRoom" resultType="GameRoom" parameterType="_int">
	    SELECT *
	    FROM GAME_ROOM
	    WHERE ROOMNO = #{roomNo}
	</select>
	
	<select id="selectAllRooms" resultType="GameRoom">
	    SELECT ROOMNO, ROOMNAME, USERLIST, HEADCOUNT, PASSWORD, TYPE
	    FROM GAME_ROOM
	    ORDER BY ROOMNO
	</select>
	
	<update id="updateReadyList">
	    UPDATE GAME_ROOM
	    SET READYUSER = #{userList}
	    WHERE ROOMNO = #{roomNo}
	</update>
	
	<select id="getReadyCount" resultType="string">
		SELECT READYUSER
		FROM GAME_ROOM
		WHERE ROOMNO = #{roomNo}
	</select>
	
</mapper>