<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "Https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jobMapper">
	<resultMap type="Player" id="playerResultMap">
	</resultMap>

	<select id="essentialJob8" resultType="string">
		SELECT JOBNAME
		FROM JOB
		WHERE OPTIONAL = 'N'
	</select>
	
	<select id="optionalJob8" resultType="string">
		SELECT JOBNAME
		FROM JOB
		WHERE OPTIONAL = 'Y'
		AND JOBCLASS &lt; 3
	</select>
	
	<select id="neutralJob8" resultType="string">
		SELECT JOBNAME
		FROM JOB
		WHERE JOBCLASS = 3
	</select>
	
	<select id="selectPlayer" resultType="string">
		SELECT USERLIST
		FROM GAME_ROOM
		WHERE ROOMNO = #{roomNo}
	</select>
	
	<select id="selectNickName" resultType="string">
		SELECT NICKNAME
		FROM USER_INFO
		WHERE USERNAME = #{userName}
	</select>

	<select id="jobNo" resultType="int">
		SELECT JOBNO
		FROM JOB
		WHERE JOBNAME = #{job}
	</select>
	
	<insert id="playerInfo">
		INSERT INTO PLAYER
		VALUES (SEQ_PNO.NEXTVAL, #{jobNo}, #{roomNo}, #{playerName}, 'Y', 'N')
	</insert>
	
	<select id="player" resultMap="playerResultMap">
		SELECT *
		FROM PLAYER
		WHERE ROOMNO =#{roomNo}
	</select>

</mapper>

