<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>갤러리 사진 업로드</title>

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
	rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<link rel="stylesheet" th:href="@{/css/common/header.css}" />
<link rel="stylesheet" th:href="@{/css/common/footer.css}" />
<link rel="stylesheet" th:href="@{/css/friend/friendList.css}" />
<link rel="stylesheet" th:href="@{/css/board/galleryUploadForm.css}" />

</head>
<body>

	<!-- 헤더 -->
	<div th:replace="~{common/header :: header}"></div>

	<!-- 본문 -->
	<div class="board-wrapper">
		<div class="card">
			<div class="card-header">
				<h1>갤러리 사진 업로드</h1>
			</div>
			<div class="card-body">
				<form action="/board/gallery/upload" method="post"
					enctype="multipart/form-data" id="galleryUploadForm">
					<input type="hidden" name="userName"
						th:value="${loginUser.userName}" /> <input type="hidden"
						name="typeName" value="갤러리" /> <input type="hidden"
						name="typeClass" value="4" />


					<div class="form-group">
						<label for="title">제목</label> <input type="text" id="title"
							name="title" placeholder="사진 제목을 입력하세요" required maxlength="100" />
					</div>

					<div class="form-group">
						<label for="uploadFile">사진 선택 (최대 5장)</label> <input type="file"
							name="uploadFiles" id="uploadFile" accept="image/*" multiple
							required />
						<div id="fileList"></div>
					</div>

					<div class="form-group">
						<label for="description">설명</label>
						<textarea name="detail" id="hiddenDescription"
							style="display: none"></textarea>
						<div id="editor"></div>
					</div>

					<div class="btn-group">
						<button type="submit" class="btn btn-submit">업로드</button>
						<button type="button" class="btn btn-cancel"
							onclick="history.back()">취소</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- 푸터 -->
	<div th:replace="~{common/footer :: footer}"></div>
	<script th:src="@{/js/board/quillForUpload.js}"></script>
	<script th:src="@{/js/board/galleryUploadForm.js}"></script>
</body>
</html>
