<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게임소개</title>

    <link rel="stylesheet" th:href="@{/css/common/header.css}" />
    <link rel="stylesheet" th:href="@{/css/common/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/board/introduction.css}" />
    <link rel="stylesheet" th:href="@{/css/board/team.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div th:replace="common/header :: header"></div>

    <div class="intro-wrapper container text-center">
        <!-- 팀 선택 영역 -->
		<div id="team-select-wrapper">
		    <div th:replace="introduceFragment/team :: team"></div>
		</div>

        <!-- 직업 상세 설명 영역 -->
        <div id="role-detail" class="role-detail my-4">
            <!-- Ajax로 로딩될 영역 -->
        </div>

        <!-- 직업 목록 영역 -->
        <div id="role-list" class="role-list d-flex justify-content-center flex-wrap">
            <!-- Ajax로 로딩될 영역 -->
        </div>
    </div>

    <div th:replace="common/footer :: footer"></div>

    <script th:inline="javascript">
        $(document).ready(function() {
        	$('#team-select-wrapper').on('click', '.team-icon', function() {
        	    const team = $(this).data('team');

        	    // 팀 프래그먼트 렌더링
        	    $.ajax({
        	        url: '/introduce/teamFragment',
        	        type: 'GET',
        	        data: { team: team },
        	        success: function(response) {
        	            $('#team-select-wrapper').html(response);
        	            console.log();
        	        }
        	    });

        	    // 직업 목록 렌더링
        	    $.ajax({
        	        url: '/introduce/roles',
        	        type: 'GET',
        	        data: { team: team },
        	        success: function(response) {
        	            $('#role-list').html(response);
        	            $('#role-detail').empty();
        	        }
        	    });
        	});

            // 동적으로 로드된 직업 아이템 클릭 시 Ajax로 상세 설명 불러오기
        	$('#role-list').on('click', '.role-item', function () {
        	    const roleName = $(this).data('role');

        	    // 기존 선택 제거
        	    $('.role-item').removeClass('selected');
        	    
        	    // 현재 선택 항목에 클래스 추가
        	    $(this).addClass('selected');

        	    // 상세 설명 Ajax 요청
        	    $.ajax({
        	        url: '/introduce/roleDetail',
        	        type: 'GET',
        	        data: { role: roleName },
        	        success: function (response) {
        	            $('#role-detail').html(response);
        	        }
        	    });
        	});
        });
    </script>
</body>
</html>
