<div class="playerPanelArea" th:fragment="playerPanelFragment">
	<div class="playerPanel">
	    <div class="container">
	        <th:block th:if="${nickName != null and #lists.size(nickName) > 0}">
			    <div th:each="name, iterStat : ${nickName}" class="slot">
			        <div class="panels">
			            <img th:src="@{/images/__${player[iterStat.index].status == 'Y' ? '생존이미지.png' : '사망이미지.png'}__}" 
			                 style="width:95px; height:95px;" />
			        </div>
			        <input type="text" class="player-name" th:value="${name}" readonly>
			    </div>
			</th:block>
	        <div class="skillDiv">
	            <button class="skillBtn" th:disabled="${user != null and user.usable == 'Y'}">능력 사용</button>
	        </div>
	        <div id="jobData" th:attr="data-job=${job}" style="display:none;"></div>
	    </div>
	</div>
</div>