<div th:fragment="playerPanelFragment">
	<div class="playerPanel">
	    <div class="container">
	        <div class="slot">
	            <div class="panels">
	
	            </div>
	            <input type="text" class="player-name" value="플레이어 1" readonly>
	        </div>
	        <div class="slot">
	            <div class="panels">
	
	            </div>
	            <input type="text" class="player-name" value="플레이어 1" readonly>
	        </div>
	        <div class="slot">
	            <div class="panels">
	
	            </div>
	            <input type="text" class="player-name" value="플레이어 1" readonly>
	        </div>
	        <div class="slot">
	            <div class="panels">
	
	            </div>
	            <input type="text" class="player-name" value="플레이어 1" readonly>
	        </div>
	        <div class="slot">
	            <div class="panels">
	
	            </div>
	            <input type="text" class="player-name" value="플레이어 1" readonly>
	        </div>
	        <div class="slot">
	            <div class="panels">
	
	            </div>
	            <input type="text" class="player-name" value="플레이어 1" readonly>
	        </div>
	        <div class="skillDiv">
	            <button class="skillBtn">능력 사용</button>
	        </div>
	    </div>
	</div>
</div>