<div th:fragment="playerPanel">
	<div class="playerPanel">
	    <div class="container">
	        <div class="slot">
	            <div class="panels">
	
	            </div>
	            <p class="player-name">플레이어 1</p>
	        </div>
	        <div class="slot">
	            <div class="panels">
	
	            </div>
	            <p class="player-name">플레이어 2</p>
	        </div>
	        <div class="slot">
	            <div class="panels">
	
	            </div>
	            <p class="player-name">플레이어 3</p>
	        </div>
	        <div class="slot">
	            <div class="panels">
	
	            </div>
	            <p class="player-name">플레이어 4</p>
	        </div>
	        <div class="slot">
	            <div class="panels">
	
	            </div>
	            <p class="player-name">플레이어 5</p>
	        </div>
	        <div class="slot">
	            <div class="panels">
	
	            </div>
	            <p class="player-name">플레이어 6</p>
	        </div>
	        <div class="skillDiv">
	            <button class="skillBtn">능력 사용</button>
	        </div>
	    </div>
	</div>
</div>