<div th:fragment="roleList">
    <div class="role-list-container d-flex justify-content-center flex-wrap">
        <div class="role-item text-center mx-3" data-role="훼방꾼">
            <img src="/godDaddy_etc/introduce/saboteur.png" alt="훼방꾼" class="role-img" />
            <p class="role-name" style="color: yellow;">훼방꾼</p>
        </div>
        <div class="role-item text-center mx-3" data-role="도굴꾼">
            <img src="/godDaddy_etc/introduce/graverobber.png" alt="도굴꾼" class="role-img" />
            <p class="role-name" style="color: yellow;">도굴꾼</p>
        </div>
        <div class="role-item text-center mx-3" data-role="네크로맨서">
            <img src="/godDaddy_etc/introduce/necromancer.png" alt="네크로맨서" class="role-img" />
            <p class="role-name" style="color: yellow;">네크로맨서</p>
        </div>
    </div>
</div>