<div th:fragment="roleList">
    <div class="role-list-container d-flex justify-content-center flex-wrap">
        <div class="role-item text-center mx-3" data-role="마피아">
            <img src="/images/team/mafia.png" alt="마피아" class="role-img" />
            <p class="role-name" style="color: red;">마피아</p>
        </div>
        <div class="role-item text-center mx-3" data-role="스파이">
            <img src="/images/team/spy.png" alt="스파이" class="role-img" />
            <p class="role-name" style="color: red;">스파이</p>
        </div>
    </div>
</div>