<div th:fragment="roleList">
    <div class="role-list-container d-flex justify-content-center flex-wrap">
        <div class="role-item text-center mx-3" data-role="의사">
            <img src="/images/doctor.png" alt="의사" class="role-img" />
            <p class="role-name" style="color: blue;">의사</p>
        </div>
        <div class="role-item text-center mx-3" data-role="경찰">
            <img src="/images/police.png" alt="경찰" class="role-img" />
            <p class="role-name" style="color: blue;">경찰</p>
        </div>
    </div>
</div>