<div th:fragment="roleList">
    <div class="role-list-container d-flex justify-content-center flex-wrap">
        <div class="role-item text-center mx-3" data-role="의사">
            <img src="/godDaddy_etc/introduce/doctor.png" alt="의사" class="role-img" />
            <p class="role-name" style="color: blue;">의사</p>
        </div>
        <div class="role-item text-center mx-3" data-role="경찰">
            <img src="/godDaddy_etc/introduce/police.png" alt="경찰" class="role-img" />
            <p class="role-name" style="color: blue;">경찰</p>
        </div>
        <div class="role-item text-center mx-3" data-role="연인">
            <img src="/godDaddy_etc/introduce/lover.png" alt="연인" class="role-img" />
            <p class="role-name" style="color: blue;">연인</p>
        </div>
        <div class="role-item text-center mx-3" data-role="정치인">
            <img src="/godDaddy_etc/introduce/politician.png" alt="정치인" class="role-img" />
            <p class="role-name" style="color: blue;">정치인</p>
        </div>
        <div class="role-item text-center mx-3" data-role="군인">
            <img src="/godDaddy_etc/introduce/soldier.png" alt="군인" class="role-img" />
            <p class="role-name" style="color: blue;">군인</p>
        </div>
        <div class="role-item text-center mx-3" data-role="영매사">
            <img src="/godDaddy_etc/introduce/spiritualists.png" alt="영매사" class="role-img" />
            <p class="role-name" style="color: blue;">영매사</p>
        </div>
    </div>
</div>