body {
  background-color: #0b0b0b !important;
  font-family: 'Noto Sans KR', sans-serif !important;
  color: #fff !important;
}

.wrapper {
  max-width: 1000px;
  margin: 40px auto;
  background-color: white; /* 좀 더 자연스럽게 */
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: black;
}

label {
    font-weight: 600;
    margin-bottom: 8px;
}

textarea.form-control {
    resize: vertical;
}